[submodule "ext/crypto-conditions"]
	path = ext/crypto-conditions
	url = http://github.com/libscott/crypto-conditions.git
[submodule "src/include/secp256k1"]
	path = src/include/secp256k1
	url = https://github.com/bitcoin-core/secp256k1
